body{
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    background-color: #a1a6ad;
    color: white;
    padding: 0.5%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#center_box {
	position: relative;
 	margin: auto;
	text-align:center;
    background-color: rgba(255,255,255,0.9);
}
#bingo_card_table,td{
    border:1px solid blue;
}
#bingo_card_table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
}
th {
    background-color: #34b1eb;
    color: white;
    font-weight: bold;
}