<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <base href="{{ .Site.BaseURL }}">
        <title>{{ block "title" .}}{{ .Title}} - JakeNTech{{end}}</title>
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        {{/*  My CSS  */}}
        {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
        {{/*  Google Font  */}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
        {{/* AJAX */}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
